.container{
    display: flex;
    justify-content: space-between;
    height: 116px;
    width: 100%;
    background-color: #7ed321;
    position: fixed;
    top: 0;
}

.logo{
    margin: 30px 0 30px 37px;

}

.logoImg{
    height: 56px;
    width: 147px
}
.filterImg{
    width: 39px;
    height: 39px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 410px;
    padding: 0 30px 0 30px;
}

.link{
    font-size: 16px;
    font-weight: 700;
    font-family: "San Frans", sans-serif;
    color: white;
}
.link:hover{
    text-decoration: none;
    color: #bbbbbb
}

.activeLink{
    text-decoration: underline;
    color: white
}