.jogsContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.jogContainer{
    display: flex;
    width: 260px;
    margin-bottom: 75px;
}
.postHeader{
    display: flex;
    background-color: #eaeaea;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 116px;
}

.jogIcon{
    width: 87px;
    height: 87px;
    border-radius: 44px;
}
.jogIcon:hover{
    box-shadow: 0 0 12px #e990f9;
    transition: 0.4s;
}
.addButton{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.addButton:hover{
    box-shadow: 0 0 7px #7ed321;
    transition: 0.3s;
}

.jogInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-family: "San Frans", sans-serif;
    margin-left: 46px;
    font-size: 16px;
    height: 90px;
}

.emptyStack{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 456px;
    margin-top: 320px;
}
.emptyMessage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 55%;
}
.sadImage{
    width: 150px;
    height: 150px;
}
.message{
    font-size: 24px;
    color: #777;

}
.jogCreate{
    outline: none;
    border-radius: 36px;
    border: 2px solid #e990f9;
    background-color: #fff;
    color: #e990f9;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 36px;
    height: 60px;
    width: 249px;
}

.dateContainer{
    display: flex;
    align-items: center;
    margin-right: 22px;
    margin-left: 22px;
    font-family: "San Frans", sans-serif;
}

.date{
    color: #dddddd
}
.display{
    color: #eeeeee;
}

@media screen and (max-width: 480px){
    .postHeader{
        height: 45px;
    }
    .dateContainer{
        font-size: 14px;
    }
}